.display3-1-1 {
	height: 160px;
	span {
		position: absolute;
		left: 24px;
		top: 20px;
		font-size: 1.2em;
		text-align: left;
	}
	.buckets {
		position: absolute;
		top: 96px;
		left: 16px;
		.bucket {
			display: inline-block;
			width: 36px;
			height: 36px;
			line-height: 36px;
			border: hsla(0, 0, 50%, 0.3) 1.5px dashed;
			box-sizing: border-box;
			color: #333333;
		}
	}
}