.code-editor {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #EEE;
	box-shadow: 0 0 8px hsla(0, 0%, 20%, 0.25);
	.controller {
		display: flex;
		justify-content: stretch;
		width: 100%;
		height: 40px;
		button {
			flex-grow: 1;
			height: 28px;
			margin: 8px 3px;
			border: 1px solid #777;
			border-radius: 3px;
			background-color: white;
			outline: none;
			box-shadow: 0px 1px 2px hsla(0, 0%, 20%, 0.15);
		}
	}
	.editor {
		display: flex;
		background-color: white;
		flex-grow: 1;
		overflow: auto;
		* {
			line-height: 20px;
			font-size: 14px;
			font-family: Monaco, source-code-pro, Menlo, Consolas, 'Courier New', monospace;
		}
		.lnarea {
			width: 36px;
			pointer-events: none;
			.index {
				border-right: royalblue 2px solid;
				padding-right: 4px;
				text-align: right;
			}
		}
		.codearea {
			position: relative;
			min-width: calc(100% - 36px);
			@keyframes flash {
				0%, 45%, 100% {
					opacity: 1;
				}
				50%, 95% {
					opacity: 0;
				}
			}
			.opmask {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				min-width: 100%;
				background-color: rgba(127,0,0,0.1);
				outline: none;
				cursor: text;
				opacity: 0.1;
			}
			.pointer {
				position: absolute;
				width: 2px;
				height: 20px;
				background-color: hsla(0, 0, 40%, 0.8);
				animation: 1s linear 0s infinite;
				pointer-events: none;
			}
			.codeline {
				flex-grow: 1;
				text-align: left;
				white-space: nowrap;
				.content {
					display: inline-block;
					padding-left: 4px;
					.char {
						display: inline-block;
						width: 9px;
					}
				}
			}
		}
	}
}