.App {
	text-align: center;
	height: 100vh;
}
.header {
	height: 40px;
	box-shadow: 0px 3px 3px hsla(210, 80%, 80%, 0.2);
}
.logo {
	display: block;
	position: absolute;
	top: 8px;
	left: 12px;
	height: 24px;
	pointer-events: none;
}
.name {
	display: block;
	position: absolute;
	top: 0;
	left: 50px;
	height: 40px;
	margin: unset;
	line-height: 40px;
	font-size: 20px;
	font-family: overpass;
	font-weight: unset;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
